Python Beginner Coding Test (40 Coding Questions)

Section A: Data Types & Basic Operations (1–10)

In [1]:
#1. Create a variable called name and assign it your name. Print it.
name = "Sharon"

print(name)

Sharon

In [2]:
#2. Create two integer variables and print their sum, difference, product, and division.
num = 12
num2 = 4

print(num + num2)
print(num - num2)
print(num * num2)
print(num / num2)

16
8
48
3.0

In [3]:
#3. Write a program to swap two numbers without using a third variable.
x = 6
y = 90

x,y = y,x
print(x,y)

90 6

In [5]:
#4. Write a program that takes user input for age and prints “Adult” if age ≥ 18, otherwise “Minor”.
age = int(input("Enter your age: "))
if age >= 18:
    print("Adult")
else:
    print("Minor")

Adult

In [8]:
##Given a string "programming", print the number of times the letter 'g' appears.
word  = "programming"

print(word.count('g'))

2

In [9]:
## Write a program that converts a given string "100" to an integer and adds 25 to it.
num2 = int("100")
print(num2 + 25)

125

In [10]:
num3 = "100"
num4 = int(num3)

print(num4 + 25)

125

In [11]:
## Write a program to find the largest number in the list [4, 9, 1, 7, 3].
nums = [4,9,1,7,3]

print(max(nums))

9

In [12]:
## Write a program to reverse the list [1, 2, 3, 4, 5].
nums2 = [1,2,3,4,5]
nums2.reverse()

print(nums2)

[5, 4, 3, 2, 1]

In [15]:
## Create a dictionary with keys name, age, and country, and print the value of age.
my_dict = {"name": "Ann", "age": 40, "country": "Rwanda"}

print(my_dict)
print(my_dict["age"])

{'name': 'Ann', 'age': 40, 'country': 'Rwanda'}
40

In [16]:
## Write a program to convert a tuple (2, 4, 6, 8) into a list and print it.
my_tuple = (2,4,6,8)
print(list(my_tuple))

[2, 4, 6, 8]

Section B: Conditional Statements (11–18)

In [3]:
## Write a program to check whether a number entered by the user is even or odd.
num5 = int(input("Enter number: "))

if num5 % 2 == 0:
    print("even")
else:
    print("odd")

even