In [1]:
## Write a function that takes a list of numbers and returns their sum
def sum_list(numbers):
    return sum(numbers)

numbers = [5,13,17,23]
result = sum_list(numbers)
print("The sum of the list is:", result)

The sum of the list is: 58

In [3]:
## Create a function that returns the maximum number from a list.
def max_list(numbers2):
    return max(numbers2)

numbers2 = [13, 19,76,78,90]
result = max_list(numbers2)
print("The max number is:", result)

The max number is: 90

In [10]:
sum_1 = 0
def summation(numbers):
    sum_1 = 0
    for number in numbers:
        sum_1 = sum_1 + number
        print("the sum of the list is:", sum_1)


numbers = [5,13,17,23]
result = summation(numbers)

the sum of the list is: 5
the sum of the list is: 18
the sum of the list is: 35
the sum of the list is: 58

In [ ]:
# Method 1: Using curly braces
my_dictionary = {
    "key1": "value1",
    "key2": 123,
    "key3": ["a", "b", "c"]
}

In [12]:
##Write a function that takes a dictionary and returns all its keys as a list.
def dict_keys(dictionary):
    return list(dictionary.keys())

dictionary = {
    "name": "Viona",
    "num1": 189,
    "fruits": ["apple", "orange", "pineapple"]
}
result = dict_keys(dictionary)
print("My dict_keys are:", result)

My dict_keys are: ['name', 'num1', 'fruits']

In [13]:
## Write a function that accepts a tuple of numbers and returns the average.
def avg_tuple(tuple_1):
    return sum(tuple_1)/len(tuple_1)

tuple_1 = (1,3,5,7)

result = avg_tuple(tuple_1)
print("my tuple is:", result)

my tuple is: 4.0

In [1]:
## Create a function that takes a list and removes all duplicates.
def remove_duplicates(my_list):
    return list(set(my_list))

nums = [2,2,5,7,7,9, 11, 12, 13,13, 13, 17, 23,23, 29,29]

result = remove_duplicates(nums)
print("my clean list is:", result)

my clean list is: [2, 5, 7, 9, 11, 12, 13, 17, 23, 29]

In [6]:
def remove_duplicates(my_list):
    return list(set(my_list))

print(remove_duplicates([2,2,5,7,7,9, 11, 12, 13,13, 13, 17, 23,23, 29,29]))

[2, 5, 7, 9, 11, 12, 13, 17, 23, 29]

In [5]:
## Write a function that counts how many times each word appears in a list of strings
def string_count(words):
    counts = {}
    for word in words:
        counts[word] = counts.get(word, 0) +1
    return counts

print(string_count(['carrots','sukuma', 'spinach', 'cabbage', 'carrots', 'spinach']))

{'carrots': 2, 'sukuma': 1, 'spinach': 2, 'cabbage': 1}

In [7]:
## Dictionaries
person = {"name": "Alice", "age": 25, "city": "Nairobi"}

In [8]:
print(person.get("name"))

Alice

In [9]:
person["email"] = "joe@gmail.com"

In [10]:
print(person)

{'name': 'Alice', 'age': 25, 'city': 'Nairobi', 'email': 'joe@gmail.com'}

In [11]:
person.pop("age")

25

In [12]:
print(person)

{'name': 'Alice', 'city': 'Nairobi', 'email': 'joe@gmail.com'}

In [13]:
for key in person:
    print(key, person[key])

name Alice
city Nairobi
email joe@gmail.com

In [14]:
for key, value in person.items():
    print(f"{key} → {value}")

name → Alice
city → Nairobi
email → joe@gmail.com

In [15]:
for key, value in person.items():
    print(f"{key}  {value}")

name  Alice
city  Nairobi
email  joe@gmail.com

In [16]:
## TUPLES
colors = ("red", "green", "blue")

In [17]:
print(colors[2])

blue

In [18]:
##SETS
fruits = {"apple", "banana", "cherry"}

In [19]:
for fruit in fruits:
    print(fruit)

cherry
apple
banana

In [21]:
##Example : Nested if Statements
age = 20
has_ticket = False

if age >= 18:
    if has_ticket:
        print("You can enter the event.")
    else:
        print("You need a ticket.")
else:
    print("You must be 18 or older to enter.")

You need a ticket.

In [23]:
## Example : Multiple Conditions with and, or
age = 12
has_id = True

if age >= 18 and has_id:
    print("Entry allowed.")
else:
    print("Entry denied.")

Entry denied.

FUNCTIONS

In [24]:
def greet():
    print("Hello, Yvvon!")

In [25]:
greet()

Hello, Yvvon!

In [26]:
## Functions with Parameters
def greet(name):  # 'name' is a parameter
    print(f"Hello, {name}!")

In [28]:
greet("Nyakio")

Hello, Nyakio!