BEGINNER PYTHON TEST (40 QUESTIONS)

Covers: Lists, Tuples, Dictionaries, Sets, Loops, Conditionals

#### Lists

In [1]:
# 1.Create a list called fruits with 4 fruit names and print it.
fruits = ["apple","banana","orange","pear"]
print(fruits)

['apple', 'banana', 'orange', 'pear']

In [2]:
# 2.Add "mango" to the fruits list.
fruits.append("mango")
print(fruits)

['apple', 'banana', 'orange', 'pear', 'mango']

In [3]:
# 3.Remove the second item from the fruits list.
fruits.pop(1)
print(fruits)

['apple', 'orange', 'pear', 'mango']

In [4]:
# 4.Print the first and last items of a list named numbers.
numbers = [10,30,47,58,98]
print(numbers[0])
print(numbers[-1])

10
98

In [5]:
# 5.Change the third item in a list colors to "purple".
colors = ["red","blue","green","brown"]
colors[2] = "purple"
print(colors)

['red', 'blue', 'purple', 'brown']

In [6]:
# 6.Given scores = [10,20,30,40], print the length of the list.
scores = [10,20,30,40]
print(len(scores))

4

In [7]:
# 7.Access the item at index 2 from animals = ["cat","dog","cow","goat"].
animals = ["cat","dog","cow","goat"]
print(animals[2])

cow

In [8]:
# 8.Write a program that checks if "apple" is in the list fruits.
fruits = ["bananas","oranges","apple","grapes"]
if "apple" in fruits:
  print("apple found in the list")
else:
  print("apple not found in the list")

apple found in the list

In [9]:
# 9.Sort a list of numbers in ascending order.
num = [3,7,11,14,19]
num.sort()
print(num)

[3, 7, 11, 14, 19]

In [10]:
# 10.Combine two lists: a = [1,2] and b = [3,4]. Print the result.
a = [1,2]
b = [3,4]
a.extend(b)
print(a)

[1, 2, 3, 4]

In [11]:
#using an operator (+)
a = [1,2]
b = [3,4]
print(a + b)

[1, 2, 3, 4]

#### Tuples

In [12]:
# 11.Create a tuple with 5 items.
my_tuple = (1,"apple",3.14,True,[1,2,3])
print(my_tuple)

(1, 'apple', 3.14, True, [1, 2, 3])

In [13]:
# 12.Print the last item in the tuple cars = ("Audi","BMW","Toyota").
cars = ("Audi","BMW","Toyota")
print(cars[-1])

Toyota

In [14]:
# 13.Convert a tuple to a list.
print(my_tuple)
my_list = list(my_tuple)
print(my_list)

(1, 'apple', 3.14, True, [1, 2, 3])
[1, 'apple', 3.14, True, [1, 2, 3]]

In [15]:
# 14.Given t = (1,2,3,4), print the length of the tuple.
t = (1,2,3,4)
print(len(t))

4

In [16]:
# 15.Explain in one sentence why tuples are immutable.
multi_string="""Tuples are immutable to ensure data integrity, guarantee hashability for use as dictionary keys, and provide thread-safe data structures that cannot be modified after creation."""
print(multi_string)

Tuples are immutable to ensure data integrity, guarantee hashability for use as dictionary keys, and provide thread-safe data structures that cannot be modified after creation.

#### Dictionaries

In [17]:
# 16.Create a dictionary called student with keys: name, age, grade.
student = {"name":"Becky","age":18, "grade":"A"}
print(student)

{'name': 'Becky', 'age': 18, 'grade': 'A'}

In [18]:
# 17.Access the value of the "name" key in the dictionary.
print(student["name"])

Becky

In [19]:
# 18.Change the "age" value to a new number.
student["age"] = 19
print(student)

{'name': 'Becky', 'age': 19, 'grade': 'A'}

In [20]:
# 19.Add a new key "gender" to the dictionary.
print(student)
student["gender"]= "male"
print(student)

{'name': 'Becky', 'age': 19, 'grade': 'A'}
{'name': 'Becky', 'age': 19, 'grade': 'A', 'gender': 'male'}

In [21]:
# 20.Remove the "grade" key from the dictionary.
print(student)
del student["grade"]
print(student)

{'name': 'Becky', 'age': 19, 'grade': 'A', 'gender': 'male'}
{'name': 'Becky', 'age': 19, 'gender': 'male'}

In [22]:
# 21.Loop through the dictionary keys and print each one.
print(student)
for key in student:
  print(key)

{'name': 'Becky', 'age': 19, 'gender': 'male'}
name
age
gender

In [23]:
# 22.Loop through the dictionary values and print each one.
print(student)
for value in student.values():
  print(value)

{'name': 'Becky', 'age': 19, 'gender': 'male'}
Becky
19
male

In [24]:
# 23.Print all key-value pairs using .items().
print(student)
for item in student:
  print(item)

{'name': 'Becky', 'age': 19, 'gender': 'male'}
name
age
gender

In [25]:
# An alternative
for x, y in student.items():
    print(x,y)

name Becky
age 19
gender male

In [26]:
# 24.Use in to check if "age" exists in the dictionary.
print(student)
if "age" in student:
  print("age exists in the dictionary")
else:
  print("age does not exist in dictionary")

{'name': 'Becky', 'age': 19, 'gender': 'male'}
age exists in the dictionary

In [27]:
# 25. Create a nested dictionary representing two students.
student1= {"name":"Becky","age":19,"gender":"male"}
student2={"name":"Bob","age":20,"gender":"female"}
students={"student1":{"name":"Becky","age":19,"gender":"male"},"student2":{"name":"Bob","age":20,"gender":"female"}}

print(students)

{'student1': {'name': 'Becky', 'age': 19, 'gender': 'male'}, 'student2': {'name': 'Bob', 'age': 20, 'gender': 'female'}}

#### Sets

In [28]:
# 26.Create a set of 5 numbers.
numbers = {1,2,3,4,5}
print(numbers)

{1, 2, 3, 4, 5}

In [29]:
# 27.Add an element to the set.
print(numbers)
numbers.add("Maureen")
print(numbers)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 'Maureen'}

In [30]:
# 28.Remove an element from the set.
print(numbers)
numbers.remove("Maureen")
print(numbers)

{1, 2, 3, 4, 5, 'Maureen'}
{1, 2, 3, 4, 5}

In [31]:
# 29.Show the difference between two sets A and B.
a = {1,2,3,4,5}
b = {6,7,8,9,10}
print(a - b)

{1, 2, 3, 4, 5}

In [32]:
# 30.Show that sets do not allow duplicates by printing a set with repeated items.
a = {1,2,3,4,5,2,4}
print(a)

{1, 2, 3, 4, 5}

#### Conditional Statemnets

In [33]:
# 31.Ask the user for their age and print "Adult" if age ≥ 18.
age = int(input("Enter age: "))
if age >= 18:
  print("Adult")
else:
  print("Minor")

Minor

In [43]:
# 32.Write a program that checks if a number is even or odd.
number = int(input("Enter a number: "))
if number % 2 == 0:
  print("Even")
else:
  print("Odd")

Odd

In [35]:
# 33.If temp > 30, print "Hot", else print "Cool".
temp = int(input("Enter temparature: "))
if temp > 30:
  print("Hot")
else:
  print("Cool")

Cool

In [36]:
# 34.Write an if/elif/else to check grade range:≥ 80 → "A", ≥ 60 → "B", else → "C"
grade = int(input("Enter grade:  "))
if grade >= 80:
  print("A")
elif grade >= 60:
  print("B")
else:
  print("C")

B

In [37]:
# 35.Ask the user for a password and check if it matches "12345".
password = input("Enter password: ")
if password == "12345":
    print("Access granted")
else:
    print("Access denied")

Access denied

In [38]:
# 36.Use a for loop to print numbers from 1 to 10.
for i in range(1,10):
  print(i)

1
2
3
4
5
6
7
8
9

In [39]:
 # 37.Use a while loop to print numbers from 5 down to 1.
 num = 5

while num >= 1:
    print(num)
    num -= 1

5
4
3
2
1

In [40]:
# 38.Loop through a list of names and print each one.
names = ["Alice", "Bob", "Sharon", "Diana"]
for name in names:
    print(name)

Alice
Bob
Sharon
Diana

In [41]:
# 39.Loop through a dictionary and print each key and value.
print(student)
for key, value in student.items():
  print(key,":",value)

{'name': 'Becky', 'age': 19, 'gender': 'male'}
name : Becky
age : 19
gender : male

In [42]:
# 40.Create a list of 5 numbers and use a for loop to compute the sum.
numbers = [10,20,30,40,50]
sum=0
for num in numbers:
  sum += num
  print(sum)

10
30
60
100
150