## Python Practice Questions

#### Variables & Data Types

In [1]:
# Create a variable name and assign it your name as a string.
name = "Sharon"
print(name)
print(type(name))

Sharon
<class 'str'>

In [5]:
# Create two variables a and b. Assign a = 10 and b = 3.14. Print both and their types.
a = 10
b = 3.14
print(a)
print(b)
print(type(a))
print(type(b))

10
3.14
<class 'int'>
<class 'float'>

In [7]:
# Define a boolean variable is_student = True. Print a sentence like “Am I a student? True”.
is_student = True
print("Am I a student?",is_student)

Am I a student? True

In [9]:
# Create a variable x = None. Print it and check its type.
x = None
print(type(x))

<class 'NoneType'>

In [10]:
#Swap the values of two variables m = 5 and n = 8 without using a third variable.
m = 5
n = 8
m, n = n,m
print(m,n)

8 5

#### Conditional Statements (if / if-else)

In [16]:
# Ask the user (via input) to enter a number. If it's positive, print “Positive”, else print “Non-Positive”.
num = float(input("Enter a number: "))

if num > 0:
    print("Positive")
else:
    print("Non-Positive")

Positive

In [14]:
# Write a program that checks if a number is even or odd.
number = int(input("Enter a number: "))
if number % 2 == 0:
    print("Even")
else:
    print("Odd")

Odd

In [17]:
# Ask the user for their age. If age ≥ 18, print “You are an adult”, else print “You are a minor”.
age = int(input("Enter your age: "))
if age >= 18:
    print("You're an adult")
else:
    print("You're a minor")

You're a minor

In [19]:
# Given three variables x, y, z, check which one is the greatest and print it.
x,y,z = 10,71,56
print(max(x,y,z))

71

In [21]:
# Ask the user to input a temperature in Celsius. If the temperature is > 30, print “Hot”, if it’s between 15 and 30 (inclusive), print “Warm”, else print “Cold”.
temp = float(input("Temperature of the day: "))
if temp > 30:
    print("Hot")
elif 15<= temp <= 30:
    print("Warm")
else:
    print("Cold")

Warm

#### LISTS

In [29]:
#Create a list fruits = ["apple", "banana", "cherry"]. Print the first and last fruit.
fruits = ["apple", "banana", "cherry"]
print(fruits[0])
print(fruits[-1]) #last fruit through neg indexing
print(fruits)

apple
cherry
['apple', 'banana', 'cherry']

In [31]:
#Add a new fruit “orange” to the list.
fruits.append("orange") #adding to the last  position/end
print(fruits)

['apple', 'banana', 'cherry', 'orange', 'orange']

In [32]:
fruits.insert(1, "melon") #adding at a specific position
print(fruits)

['apple', 'melon', 'banana', 'cherry', 'orange', 'orange']

In [33]:
#Remove “banana” from the list.
fruits.remove("banana")
print(fruits)

['apple', 'melon', 'cherry', 'orange', 'orange']

In [36]:
#Given a list of numbers [1, 2, 3, 4, 5], calculate and print their sum.
list_num = [1,2,3,4,5]
print(sum(list_num))

15

In [38]:
#Given a list of strings ["hello", "world"], join them into a single string with a space: “hello world”.
str1 = ["hello", "world"]
print(str1[0] + " " + str1[1])

hello world

In [39]:
#Reverse a list (without using the built-in reverse method).
list1 = [1,2,3,4,5,6,7,8,9]
print(list1[::-1])

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [41]:
#Given a list [1, 2, 3, 2, 1], count how many times 2 appears.
list2 = [1, 2, 3, 2, 1]
print(list2.count(2))

2

In [43]:
#Write a program that takes a list of numbers from the user (comma separated), converts them into a list of integers, and prints only the even numbers.
user_input = input("Enter numbers separated by commas: ")

numbers = [int(y.strip()) for y in user_input.split(",")]

print("Even numbers:")
for num in numbers:
    if num % 2 ==0:
        print(num)

Even numbers:
78
56
90

#### TUPLES

In [44]:
#Create a tuple t = (10, 20, 30, 40). Print its first element.
t = (10, 20, 30, 40)
print(t[0])

10

In [45]:
#Try to change one element of the tuple (e.g., t[0] = 5) and observe what error you get.
print(t[0] = 5)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (1538031413.py, line 2)

In [47]:
#Unpack the tuple t = (1, 2, 3) into three variables a, b, c.
t1 = (1,2,3)
a,b,c = t1
print(f"a = {a}, b = {b},c = {c}")

a = 1, b = 2,c = 3

In [48]:
#still unpacking the tuple
a = t1[0]
b = t1[1]
c = t1[2]
print(a, b, c)

1 2 3

In [51]:
#Given a tuple of mixed types ("Alice", 25, True), print each element and its type.
mixed = ("Alice", 25, True)

for item in mixed:
    print(item, type(item))

Alice <class 'str'>
25 <class 'int'>
True <class 'bool'>

#### Dictionaries

In [65]:
#Create a dictionary student = {"name": "Alice", "age": 21, "major": "Math"}. Print the student’s name.
student = {"name": "Alice", "age": 21, "major": "Math"}
print(student)
print(student["name"])

{'name': 'Alice', 'age': 21, 'major': 'Math'}
Alice

In [66]:
#Add a new key-value pair: "GPA": 3.8.
student["GPA"] = 3.8
print(student)

{'name': 'Alice', 'age': 21, 'major': 'Math', 'GPA': 3.8}

In [67]:
#Change the "age" value to 22.
student["age"] = 22
print(student["age"])
print(student)

22
{'name': 'Alice', 'age': 22, 'major': 'Math', 'GPA': 3.8}

In [68]:
#Remove the "major" key from the dictionary.
student.pop("major")

'Math'

In [69]:
print(student)

{'name': 'Alice', 'age': 22, 'GPA': 3.8}

In [70]:
#Iterate over the dict and print keys and values in the form: key -> value.
for key, value in student.items():
    print(f"{key} -> {value}")

name -> Alice
age -> 22
GPA -> 3.8

In [71]:
#Write a program that counts how many times each word appears in a list of words: ["apple", "banana", "apple", "cherry", "banana", "banana"].
words = ["apple", "banana", "apple", "cherry", "banana","banana"]
word_count = {}

for word in words:
    if word in word_count:
        word_count[word] += 1
    else:
        word_count[word] = 1

for word, count in word_count.items():
    print(f"{word}: {count}")

apple: 2
banana: 3
cherry: 1

In [72]:
#using get
words = ["apple", "banana", "apple", "cherry", "banana","banana"]
word_count = {}

for word in words:
    word_count[word] = word_count.get(word, 0) + 1

for word, count in word_count.items():
    print(f"{word}: {count}")

apple: 2
banana: 3
cherry: 1

#### SETS

In [78]:
#Create a set s = {1, 2, 3, 4}. Try adding 2 again and print the set.
s = {1,2,3,4}
s.add(5)
print(s)

{1, 2, 3, 4, 5}

In [80]:
s.add(2)
print(s)

{1, 2, 3, 4, 5}

In [82]:
#adding multiple items
s.update([7,8])
print(s)

{1, 2, 3, 4, 5, 7, 8}

In [86]:
#Given a list with duplicates [1, 2, 2, 3, 3, 3], convert it to a set to remove duplicates.
my_list = [1,2,2,3,3,3]
print(set(my_list))

{1, 2, 3}

In [91]:
#Create another set t = {3, 4, 5}. Print the union, intersection, and difference (s - t).
#union
t = {3,4,5}
result = s.union(t)
print(result)

result2 = s&t # intersection mehod 1 uisng &
print(result2)

result3 = s.intersection(t) # intersection method 2 .intersection()
print(result3)

result4 = s-t #difference
print(result4)

{1, 2, 3, 4, 5, 7, 8}
{3, 4, 5}
{3, 4, 5}
{8, 1, 2, 7}

In [92]:
#Given a set letters = {"a", "b", "c"}, check if "d" is in the set, and print a message accordingly.
set_letters = {"a", "b", "c"}

if "d" in set_letters:
    print("d is in the set")
else:
    print("d is not in the set")

d is not in the set

#### Mixed Data Structures + Conditionals

In [100]:
#Given a dictionary inventory = {"apples": 5, "bananas": 2, "oranges": 0}, write code to print “We are out of oranges” if the count is 0, and otherwise print how many there are.
inventory = {"apples": 5, "bananas": 2, "oranges": 0}

if inventory["oranges"] == 0:
    print("We are out of oranges")
else:
    print(f"We are have {inventory["oranges"]} oranges")

We are out of oranges

In [109]:
# Create a list of dictionaries, e.g., people = [{"name":"Alice","age":30}, {"name":"Bob","age":17}]. Loop through it and print for each person whether they are adult or minor.
people = [
    {"name": "Alice","age": 30},
    {"name": "Bob", "age": 17}
    ]

for person in people:
    name = person["name"]
    age = person["age"]

    if age  >= 18:     ##must be inside the loop so that we get both Alice and Bob evaluated
     print(f"{name} is an Adult")
    else:
     print(f"{name} is a Minor")

Alice is an Adult
Bob is a Minor

In [110]:
#Given a tuple of numbers nums = (5, 10, 15, 20), write a loop that checks: if the number is divisible by 10, print “Divisible by 10”, else “Not divisible by 10”.
nums = (5,10,15,20)

for num in nums:
    if num % 10 == 0:
        print(f"{num} is Divisible by 10")
    else:
        print(f"{num} is NOT divisible by 10")

5 is NOT divisible by 10
10 is Divisible by 10
15 is NOT divisible by 10
20 is Divisible by 10

In [115]:
#Ask user to input three numbers and store them in a list. Then, convert the list to a set and check if any duplicates were removed; tell the user if there were duplicates.
numbers = []
for i in range(3):
    num = int(input(f"Enter number {i+1}: "))
    numbers.append(num)

#converting to a list
numbers2 = set(numbers)

#checking for duplicates
if len(numbers2) <  len(numbers):
    print("Duplicates Removed")
else:
    print("No Duplicates Found")

No Duplicates Found

In [116]:
#Create a dictionary grades = {"Alice": 85, "Bob": 72, "Charlie": 90}. Loop through it and print: “Alice passed” or “Alice failed” assuming passing is ≥ 80.
grades = {"Alice": 85, "Bob": 72, "Charlie": 90}

for name, score in grades.items():
    if score >= 80:
        print(f"{name} passed")
    else:
        print(f"{name} failed")

Alice passed
Bob failed
Charlie passed

In [119]:
#Given two lists a = [1,2,3,4] and b = [3,4,5,6], use sets to find and print the common elements.
a = [1,2,3,4]
b = [3,4,5,6]

result_1 = set(a) & set(b) ##finding what's common in  a two  lists
print(result_1)

{3, 4}

In [2]:
#Given a list of numbers, ask the user to input the numbers, then compute: number of positive, negative, and zero values using conditionals.
numbers_1 = input("Enter numbers separated by commas: ").split(",")

positive = 0
negative = 0
zero = 0

for num in numbers_1:
    num = int(num.strip())
    if num > 0:
        positive += 1
    elif num < 0:
        negative += 1
    else:
        zero += 1

print("Positive numbers:", positive)
print("Negative numbers:", negative)
print("Zeros:", zero)

Positive numbers: 4
Negative numbers: 2
Zeros: 0

In [3]:
#Write a small program that asks the user to input their name, age, and a list of 3 favorite fruits (comma-separated). Store their data in a dictionary like {"name": ..., "age": ..., "fruits": [...]} and then print a summary: “Name: …, Age: …, Fruits: …”.
name = input("Enter your name: ")
age = input("Enter your age: ")
fruits = input("Enter 3 favorite fruits (comma-separated): ").split(",")

fruits = [fruit.strip() for fruit in fruits]

user_data = {
    "name": name,
    "age": age,
    "fruits": fruits
}

print(user_data['fruits'])

print(f"Name: {user_data['name']}, Age: {user_data['age']}, Fruits: {', '.join(user_data['fruits'])}") # using comma and space for it to look more appealing

['grapes', 'apples', 'guavas']
Name: Frank, Age: 14, Fruits: grapes, apples, guavas